/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ngx-smart-modal/ngx-smart-modal.css";

.nsm-dialog {
    max-width: 1500px !important;
    /* min-width: 500px !important; */
}

body {
    color: #424242;
    background-color: #fafafa;
}