<div class="sidebar">

    <div class="sidebar-content">
        <h2>Home</h2>
    </div>

    <div class="sidebar-nav">
        <div class="list-group list-group-flush" style="width: 100%;">
            <a href="#" class="list-group-item list-group-item-action active">
                Home
            </a>
            <a href="#" class="list-group-item list-group-item-action">Spring 2018</a>
            <a href="#" class="list-group-item list-group-item-action">Summer 2018</a>
            <a href="#" class="list-group-item list-group-item-action">Autumn 2018</a>
            <a href="#" class="list-group-item list-group-item-action">Winter 2018</a>
        </div>
                  
    </div>

</div>