<div class="sidebar" [ngClass]="{ 'sidebar-active': sidebarService.toggle === true }">

    <div class="sidebar-content">
        <h2>{{sidebarService.selectedTag}}</h2>
    </div>

    <div class="btn-sidenav" *ngIf="tags">
        <button class="btn btn-block" (click)="sidebarService.updateTag('Home')" [ngClass]="{ 'btn-primary' : sidebarService.selectedTag === 'Home' }">Home</button>
        <button class="btn btn-block" (click)="sidebarService.updateTag(tag)" [ngClass]="{ 'btn-primary' : sidebarService.selectedTag === tag }"
            *ngFor="let tag of tags">{{tag}}</button>
    </div>

</div>