.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.thumbnail {
    overflow: hidden;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

.thumbnail img {
    max-height: 200px;
}

.image-card {
    display: inline-block;
    padding: 1em;
    max-width: 350px;
    min-width: 300px;
    border: solid rgba(0, 0, 0, 0.1) 1px;
    border-radius: 3px;
    word-wrap: break-word;
    margin-bottom: 2em;
    margin-right: 1em;
}

.image-card:hover {
    cursor: pointer;
    transition: 250ms ease-in-out;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
}

.desc {
    max-height: 6.3em;
    overflow: hidden;
}

.image-card p {
    text-align: justify;
}