<h2>{{sidebarService.selectedTag}}</h2>
<hr>
<div class="images-container">

  <div class="image-card" *ngFor="let img of images" (click)="openModal(img)">
    <div class="thumbnail"><img src="{{url}}/{{img.thumbnail}}"></div>
    <div class="content">
      <h4>{{img.name}}</h4>
      <div class="desc">
        <p>
          {{img.description}}
        </p>
      </div>
    </div>
  </div>

</div>

<ngx-smart-modal #myModal identifier="myModal">
  <div class="full-image mb-3">
    <img src="{{url}}/{{selectedImage?.image}}">
  </div>
  <h2>{{selectedImage?.name}}</h2>
  <p style="text-align: justify;">
    {{selectedImage?.description}}
  </p>
  <button (click)="myModal.close()" class="btn btn-primary" style="width: 15%; min-width: 150px;">Close</button>
  <!-- <button class="btn btn-danger" (click)="deleteImage()" style="float: right;">Delete</button> -->
</ngx-smart-modal>
