<div class="container-fluid" style="min-height: 100vh;">

    <div class="row logo-container m-3">
        <fa class="icon toggle" name="bars" style="float: right; position: absolute; left: 0; margin-left: 1em;" (click)="sidebarService.toggleSidebar()"></fa>
        <img src="assets/images/nightwing.png" class="logo">
    </div>
    
    <div class="row p-3 mt-5" *ngIf="sidebarService.selectedTag === 'Home'">
        <div class="col-sm-12">
            <app-image-uploader></app-image-uploader>
        </div>
    </div>

    <div class="row image-view p-3">
        <div class="col-sm-12">
            <app-image-viewer></app-image-viewer>
        </div>
    </div>

</div>